<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <form action="/" method="post">
            <div class="group">
                <label for="name">Username:</label>
                <input type="text" placeholder="username" name="name" required/>
            </div>
            <div class="group">
                <label for="name">Email id:</label>
                <input type="text" name="email", placeholder="email" required/>
            </div>
            <div class="group">
                <label for="password">Password: </label>
                <input type="password" placeholder="password" name="password" required/>
            </div>
            <div class="btn">
                <button type="submit" class="submit-btn">
                    Login
                </button>
            </div>
            <p>Don't have an account yet, <a href="/signup">Signup</a></p>
        </form>
    </div>
</body>
</html>